@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imgs/background-img.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.darkmode {
  display: flex;
  justify-content: flex-end;
  font-family: "Bungee Spice", cursive;
  margin-top: 20px;
  margin-right: 20px;
}

#hr1 {
  margin-top: 50px;
}
#hr1 hr {
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
}
.navbar h2 {
  font-family: "Bungee Spice", cursive;
}

nav h2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.navbar a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-right: 60px;
}
ul li {
  margin: 15px;
  color: #fff;
  font-family: "Bungee Spice", cursive;
}
ul li a {
  font-style: none;
  text-decoration: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu ul .hamburger-menu {
  display: none;
  cursor: pointer;
}
.menu ul .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}
.menu ul nav a li:hover {
  color: blueviolet;
}

.content {
  text-align: center;
  padding: 50px;
  height: 60vh;
}
.content .main-title {
  font-size: 28px;
  font-family: "Bungee Spice", cursive;
  margin-top: 100px;
  margin-bottom: 100px;
}
.content .separator {
  width: 250px;
  margin: 20px auto;
  border: 1px solid;
  border-top: 2px solid #ff9100;
}
.content .paragraph {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Bungee Spice", cursive;
  color: #ccc;
}
.content .main-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d47f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.content .main-button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.content .center-container {
  text-align: center;
}
.content .center-container .responsive-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.products .product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.products .product-card .product-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}
.products .product-card .product-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.products .product-card .product-button {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#log-in {
  background-image: url();
  background-size: cover;
}

.formulario-registro {
  width: 400px;
  text-align: center;
  padding: 30px;
  margin: auto;
}

.card-form {
  width: 250px;
  height: 450px;
  background-color: #333;
  border: 2px solid #222;
  border-radius: 5px;
  color: #222;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.2);
}
.card-form h4 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-form .controls {
  background-color: #222;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
}
.card-form a {
  text-decoration: none;
  color: #222;
}
.card-form a:hover {
  text-decoration: underline;
}
.card-form p {
  height: 50px;
}
.card-form #boton {
  background: #fff;
  width: 150px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  padding: 10px;
}

.container-us {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.container-us .map {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 0 0 calc(50% + 60px);
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.container-us .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container-us .content .lorem {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.container-us .content .contact-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
form button[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
form button[type=submit]:hover {
  background-color: #0056b3;
}

.community {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.community h1 {
  font-size: 28px;
  font-family: "Bungee Spice", cursive;
  margin-bottom: 20px;
}
.community .paragraph {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Bungee Spice", cursive;
  color: #ccc;
}
.community .forum {
  font-size: 20px;
  font-family: "Bungee Spice", cursive;
  margin-bottom: 10px;
}
.community button[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.community button[type=submit]:hover {
  background-color: #0056b3;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-top: 250px;
}
footer p {
  margin-bottom: 20px;
}
footer i {
  color: #9101e4;
  font-size: 50px;
  letter-spacing: 30px;
}

@media (max-width: 920px) {
  .responsive-button {
    font-size: 14px;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }
  .menu.active ul {
    display: flex;
  }
  .hamburger-menu {
    display: block;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .products .product-card {
    width: 100%;
  }
}
/* Variables para animaciones */
/*animacion fadein*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animación scaleIn */
@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
/* Animación slideUp */
@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
/* Animación fadeInOut */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* Animación rotate360 */
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animación slideUpLoad */
@keyframes slideUpLoad {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-title {
  animation: fadeIn 1s ease-in-out;
}

.main-button {
  animation: scaleIn 1s ease-in-out;
}

.menu a li:hover {
  animation: fadeInOut 1s ease-in-out;
}

.bar.active {
  animation: rotate360 2s linear;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: scale(1.05); /* Hace zoom en la tarjeta al pasar el mouse */
}

.round-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  position: relative;
}
.round-button::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(80%);
}

/*# sourceMappingURL=style.css.map */
